h2 Suffit-il de créer un projet pour qu'il apparaisse sur Ride-lab.com ?
p Nous faisons une vérification avant que votre projet soit en ligne. Nous vérifions juste qu'il réponde bien aux CGU de notre site. Mais ne vous inquiétez pas, si votre projet est réfléchi, cohérant, bien documenté, il n'y a aucune raison pour que nous ne l'acceptions pas. Nous devons sentir la fibre qui vous anime à travers votre projet ;-)
p Une fois votre projet accepté, vous recevrez la marche à suivre vous permettant de créer la version finale de votre projet.
p
h2 Quels types de projets peuvent être créés ?
p Tous types de projets ayant un rapport avec le sport. Ride-lab.com permet le financement de matériel, de vêtements techniques, d'un film, d'un livre, d'un évènement et même le sponsoring d'un athlète !
p Tous les projets doivent offrir des contreparties. Vos supporters croient en votre projet, mais ils veulent aussi un truc cool en contrepartie. Faites-leur plaisir, soyez créatif !
p Les contreparties ne peuvent pas être sous forme d'intérêts financiers ou d'actions.
