h2 Do I just need to submit a project to get it online on Ride-Lab.com ?
p We have a validation step before that. We check that the project fullfill to our Terms of use and that it fits the site philosophy : Ride & Lab ! Don't worry, if your project is creative, has a clear meaning or goal, well described, there's no reason we will refuse it.
p Once the project is validated, you will receive the following steps to create the definitive version of your project.
p
h2 What kind of projects do you accept ?
p All kind of projects related to sporting activities. Ride-Lab.com allow you to finance sport equipments, technical cloths, films, books, events... even sponsoring !
p All projects must offer some counterparts. Your backers believe in your project, and they want something cool as well ! Make them happy, be creative !
p Counterparts cannot be financial assets such as securities.
