|Ride-lab.com works like this: you submit your project, tell us how much you need 
|and a deadline to reach this goal. Then you promote the project and people can opt 
|to back with any amount and receive rewards for that ! <br>
|If until the chosen deadline you have reached the amount you need, you get the money. Otherwise, everybody receives the money back. Simple like that.
#show_tips
  a href='#' See more tips on how Ride-lab.com works
