|Ride-lab.com fonctionne de cette façon : soumettez votre projet, dites-nous de quel montant avez-vous besoin pour le mener à bien, et définissez la période nécessaire pour lever ces fonds. Faites la promotion de votre projet et les internautes pourront commencer à le soutenir. Si vous atteignez le montant demandé avant votre date limite, votre projet est financé. Sinon, tous les Supporters du projet sont remboursés. C'est aussi simple que cela !
#show_tips
  a href='#' Voir plus d'astuces sur le fonctionnement de Ride-lab.com
