|Ride-lab.com fonctionne de cette façon: soumettez votre projet, dites-nous de quel montant avez-vous besoin pour le mener à bien et definissez la période nécessaire pour lever ces fonds. Faites la promotion de votre projet et les utilisateurs peuvent commencer à soutenir votre projet. Si vous atteignez le montant désiré avant votre date limite, votre projet est financé. Sinon, tous les Supporters vous ayant fait confiance sont remboursés. C'est aussi simple que cela !
#show_tips
  a href='#' Voir plus d'astuces sur le fonctionnement de Ride-lab.com