h2 Qu'est-ce que le financement collaboratif sur Ride-lab.com ?
p
h3 La formule magique :
p Nous pensons que la meilleure façon d'inciter les utilisateurs à soutenir voter projet est d'offrir des contreparties cools. Tout le monde aime les éditions limitées, les expériences uniques et personnalisées !
h3 Pourquoi le tout ou rien ?
p Sur Ride-lab.com, un projet n'est financé que si l'objectif est atteint avant la date limite. Dans le cas contraire, les Supporters sont intégralement remboursés.
p Pourquoi ? Afin de réduire les risques pour tout le monde. Nous pensons que le montant dont vous aviez besoin lors de la création de votre projet est le montant nécessaire à la création du projet tel que vous l'avez présenté.
h3 Comment ça fonctionne ?
p Créer un projet ne coûte rien. Si votre projet est financé, Ride-lab.com prélève une commission de 8% (5% pour le site + 3% pour Paypal) sur le montant total récolté.
p Si le projet n'est pas financé, cela ne vous coûte rien.
h3 Et la propriété intellectuelle dans tout ça ?
p Elle est à 100% votre propriété.
