h2 What is crowfunding on Ride-lab.com ?
h3 Our magic formula :
p We believe the best way to convince people to back and promote your project is by offering great rewards. Everybody loves limited editions, unique experiences, and custom products !
h3 Why all or nothing ?
p On Ride-lab.com, a project is sucessful only if target amount is reached before the deadline. In the other case, backers are refunded of their pledged amount.
p Why ? To limit the risks for everyone. The target amount you set up at the project's creation is the minimal amount for its realization. Under this amount, the project cannot succeed; above this amount it can.
h3 How does it works ?
p Create a project on Rid-Lab.com is free. If your project is funded (and therefore successful), Ride-Lab.com will get a 10% fees on the total backing amount.
p If the project is not funded, it costs you nothing.
h3 And what about intellectual property ?
p You keep 100% of intellectual property and rights.
h3 How to launch your funding campain :
p Once your project created, it is important to have a good start. You must contact your close network, your family, your friends to back your project. It will help you to get the first backings, to build trust in the project, and then to spread the word on social networks.
h3 Is it possible to get more money than the targeted amount ?
p Entirely ! There is no maximum amount and users can back your project until the last second.s
