Etes-vous sûr de vouloir soutenir ce projet anonymement? 
| Soutenir un projet publiquement permet d'augmenter votre réputation et de bien figurer dans le classement des Supporters les plus actifs.
br
br
| De plus, sachez que le montant de votre soutien n'est pas connu publiquement mais uniquement par le porteur de projet.