h3 Comment puis-je soutenir ce projet?
p Dans un premier temps, veuillez sélectionner une contrepartie. Nous vous redirigerons par la suite sur Paypal afin que vous puissier effectuer le paiment.
h3 Est-il possible de récupérer mon argent si le projet n'atteint pas son objectif?
p Bien sûr! Vous êtes remboursé à 100%.
h3 Que se passe t'il si je ne veux pas utiliser mes crédits sur Ride-lab.com?
p Pas de problème. Allez sur #{link_to t('credits.title'), credits_path, :target => :_blank}, avant 60 jours après votre paiement, demandez un remboursement.
h3 Que se passe t'il lorsque le projet est financé?
p Lorsque la contrepartie est prête, #{link_to @project.user.display_name, user_path(@project.user)} vous contactera afin de vous donner les modalités de livraison.